body {
  font-family: "DynaPuff";
  background-color: rgb(232, 209, 241);
}
.topimg {
  width: 450px;
  border-radius: 500px;
  border: 5px double purple;
  z-index: 100;
}
.imgcon {
  display: flex;
  justify-content: center;
  position: relative;
  left: -70px;
}
.acaivid {
  width: 220px;
  border-radius: 50px;
  border: 5px double purple;
  box-shadow: 0px 50px 30px rgb(189, 121, 199);
}
.vidcon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  left: -150px;
}
.headline {
  text-align: left;
  margin-left: 300px;
  text-transform: capitalize;
  color: rgb(27, 136, 27);
  text-shadow: 10px 10px 30px;
}
.menublock {
  display: flex;
  align-items: center;
  width: 60%;
  height: 150px;
  border-radius: 30px;
  background-color: rgb(172, 95, 172);
  margin: auto;
  position: relative;
  top: -70px;
  border: 5px double rgb(45, 213, 70);
}
.menu {
  position: relative;
  left: 80%;
  list-style: none;
  color: aliceblue;
  line-height: 30px;
}
.menui:hover {
  color: purple;
  cursor: pointer;
}
.secondhead {
  text-align: left;
  margin-left: 300px;
  text-transform: capitalize;
  color: purple;
  text-shadow: 10px 10px 30px;
}
main {
  position: relative;
  top: -50px;
}
